{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ booking.date ? booking.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NumberOfKids</th>
                <td>{{ booking.numberOfKids }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ booking.endAt ? booking.endAt|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>price</th>
                <td>{{ booking.amount}}</td>
            </tr>
        </tbody>
    </table>


    <a  class="btn btn-primary float-end" href="{{ path('default') }}">back to list</a>
    <a  class="btn btn-warning float-end" href="{{ path('app_bookings_edit', {'id': booking.id}) }}">edit</a>

    {{ include('bookings/_delete_form.html.twig') }}
{% endblock %}
