{% extends 'base.html.twig' %}

{% block title %}Cake index{% endblock %}

{% block body %}
{#    <h1>Cake index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>ImagePath</th>#}
{#                <th>Price</th>#}
{#                <th>Descirption</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for cake in cakes %}#}
{#            <tr>#}
{#                <td>{{ cake.id }}</td>#}
{#                <td>{{ cake.imagePath }}</td>#}
{#                <td>{{ cake.price }}</td>#}
{#                <td>{{ cake.description }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('app_cake_show', {'id': cake.id}) }}">show</a>#}
{#                    <a href="{{ path('app_cake_edit', {'id': cake.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="5">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('app_cake_new') }}">Create new</a>#}

    <div class="container">
        <h1 class="mt-3 mb-4">Cakes</h1>
        <div class="row">
            {% for cake in cakes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src={{ cake.imagePath}} alt="{{ cake.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ cake.name }}</h5>
                        <p class="card-text">{{ cake.description }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="{{ path('app_cake_show', {'id': cake.id}) }}" class="btn btn-dark">Order Now</a>
                            <span class="h5 mt-auto">{{ cake.price }} €</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
